<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/init.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>lib/classes</directory>
      <directory>lib/models</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="auth">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
